<div class="content">
  <div class="product">
    <div *ngFor="let product of Produtos">
        <vm-item (Produto)="addToCart($event)" [product]="product"></vm-item>
    </div>
    
  </div>
  <div>
    <vm-caixa (buyIt)="calculateBuy($event)"></vm-caixa>
    <div class="cart-item">
      Custo: {{price | currency: 'R$'}}
    </div>
    <div *ngIf="Message == ''"class="troco">
        Número de itens: {{CartProduct.length}}
        Seu troco é: {{Troco | currency: 'R$'}}
    </div>
    <div *ngIf="Message != ''"class="troco">
        {{Message}}
    </div>
  </div>
  
  
</div>
