<div class="content">
  <p (click)="openCoinList()" class="coin-list">Caixa de Moedas</p>
  <div class="product">
    <div *ngFor="let product of Produtos">
      <vm-item (Produto)="addToCart($event); cart.produtos = CartProduct" [product]="product"></vm-item>
    </div>

  </div>
  <div>
    <vm-caixa class="caixa" (buyIt)="calculateBuy($event)"></vm-caixa>
    <div class="cart-item">
      Custo: {{price | currency: 'R$'}}
    </div>
    <vm-cart-item #cart></vm-cart-item>

  </div>


</div>
